<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekend Planner</title>
</head>
<body>
    <h2><%= statement %></h2>
</body>
</html>